.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s ease-in-out;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
}

.newContainer {
  width: 100%;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  padding: 4rem;
  border-bottom: solid 1px rgb(188, 188, 244);
}

.nav button {
  border: none;
  font-family: "Montserrat";
  background-color: transparent;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
  /* text-decoration: none; */
  cursor: pointer;
  color: white;
}

.nav button:hover {
  color: rgb(242, 228, 200);
}

.newNav button {
  color: rgb(188, 188, 244);
}

header img {
  border: solid 1px black;
  transition: 0.5s ease-in-out;
  border-radius: 10%;
  margin-left: 3rem;
  width: 7rem;
  height: 7rem;
}

.newNav img {
  padding: 10px;
  border-radius: 50%;
}

.name {
  display: flex;
  align-items: center;
}

.name h3 {
  transition: 0.4s ease-in-out;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 2rem;
  color: white;
}

@media (max-width: 900px) {
  .header img {
    width: 3rem;
    height: 3rem;
  }

  .name h3 {
    font-size: 1rem;
  }

  .nav {
    width: 80%;
    justify-content: space-between;
  }

  .nav button {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .header img {
    width: 3rem;
    height: 3rem;
  }


  .nav {
    width: 85%;
    justify-content: space-between;
  }

  .nav button {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .nav {
    display: none;
  }

  header img {
    margin: 1rem 2rem;
  }
}

@media (max-width: 1900px) and (min-width: 430px) {
  .burgerButton {
    display: none;
  }
}
