.card-container {
  color: white;
  display: flex;
  justify-content: space-around;
}

.html {
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  color: white;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: black;
  border-top: solid 1px orange;
  border-right: solid 1px orange;
}

.html h2 {
  font-family: "Montserrat";
  font-weight: 350;
}

.html:hover {
  background-color: rgba(0, 0, 0, .6);
}

.css {
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  color: white;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: black;
  border-top: solid 1px lightblue;
  border-right: solid 1px lightblue;
}

.css h2 {
  font-family: "Montserrat";
  font-weight: 350;
}

.css:hover {
  background-color: rgba(0, 0, 0, .6);
}

.js {
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  color: white;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: black;
  border-top: solid 1px yellow;
  border-right: solid 1px yellow;
}

.js h2 {
  font-family: "Montserrat";
  font-weight: 350;
}

.js:hover {
  background-color: rgba(0, 0, 0, .6);
}

.react {
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  color: white;
  border-radius: 3px;
  padding: 1rem;
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: black;
  border-top: solid 1px blue;
  border-right: solid 1px blue;
}

.react h2 {
  font-family: "Montserrat";
  font-weight: 350;
}

.react:hover {
  background-color: rgba(0, 0, 0, .6);
}

@media (max-width: 420px) {
  
}

