.tech-container {
  font-family: "Montserrat";
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.technologies {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 6rem;
}

@media (max-width: 830px) {
  .tech-container {
    font-family: "Montserrat";
    margin: 2rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

@media (max-width: 770px) {
  .tech-container {
    margin-bottom: 8rem;
  }
}

@media (max-width: 420px) {
  .technologies {
    font-size: 3rem;
  }

  .tech-container {
    margin-bottom: 3rem;
  }
}

@media (max-width: 380px) {
  .tech-container {
    margin-bottom: 2rem;
  }
}



