.projectContainer {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5rem 5rem 2rem 5rem;
  padding-top: 1rem;
}

.projectContainer h1 {
  margin: 1rem 0 0 1.5rem
}

.accordionContainer {
  width: 55%;
  height: 350px;
  padding: 2rem;
}

.accordionContainer h3 {
  margin-top: 2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.accordionContainer p {
  font-family: "Montserrat";
  font-weight: 400;
}

.link {
  font-size: 14px;
  font-family: "Montserrat";
  padding: 10px;
  border-radius: 3px;
  background-color: purple;
  font-weight: 500;
  color: white;
}

.divisor {
  width: 95%;
  height: 1px;
  border: 0;
  background-color: rgba(255, 255, 255, .1);
}

.accordion {
  background-color: red;
}

@media (max-width: 830px) {
  .projectContainer {
    margin: 1rem 5rem 25rem 5rem;
  }

  .accordionContainer {
    width: 100%;
    height: 315px;
  }

  .link {
    font-size: 12px;
    font-family: "Montserrat";
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: purple;
    font-weight: 500;
    color: white;
  }
}

@media (max-width: 770px) {
  .projectContainer {
    margin: 1rem 5rem 15rem 5rem;
  }

  .accordionContainer {
    width: 100%;
    height: 335px;
  }
}

@media (max-width: 420px) {
  .projectContainer {
    margin: 0 3rem 10rem 3rem;
  }

  .accordionContainer {
    width: 100%;
    height: 370px;
  }
}

@media (max-width: 395px) {
  .projectContainer {
    margin: 0 3rem 6rem 3rem;
  }

  .accordionContainer {
    width: 100%;
    height: 370px;
  }
}











