.navButtonDrawer {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navButtonDrawer button {
    white-space: nowrap;
    background-color: transparent;
    border: none;
    margin-bottom: 5rem;
    color: white;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
    width: 100%;
}

.iconBUtton {
    display: flex;
    width: 100%;
    margin-right: 1.5rem;
}