.container-contact {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 22px;
  font-weight: 300;
  color: white;
  max-width: 70%;
  padding: 2rem;
}

.container-contact h1 {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.info-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

img {
  width: 35px;
  height: 35px;
  margin-right: 1.5rem;
}

.info {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: solid 1px rgb(188, 188, 244);
  border-right: solid 1px rgb(188, 188, 244);
  margin: 1rem;
  padding: 7px;
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 420px) {
  .container-contact {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-weight: 300;
    color: white;
    padding: 1rem;
    max-width: 100%;
  }

  h1 {
    margin: 0 auto 0 auto;
  }

  .info-container {
    margin-top: 2rem;
  }
}