.container-description {
    margin: 7rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

h1 {
  color: white;
  font-weight: 100;
  font-size: 6rem;
}

.container-description p {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-weight: 300;
  color: white;
  max-width: 50%;
  padding: 1rem;
  border-left: solid 1px rgb(188, 188, 244);
  border-bottom: solid 1px rgb(188, 188, 244);
  border-radius: 3px;
}

p span {
  font-weight: bolder;
}

@media (max-width: 420px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .container-description p {
    margin-top: 3rem;
    max-width: 100%;
  }

  .container-description {
    margin: 14rem 1rem auto 1rem;
  }
}