* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-weight: 100;
  /* font-family: sans-serif; */
  background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045_1280.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@media (max-width: 440px) {
  html {
    display: flex;
    position: absolute;
  }
}




